h1{
    color: #7c8587;
    font-weight: 800;
    font-size: 50px;
    text-align: left;
}
h2 {
    color: #efefef;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}
h4 {
    font-weight: lighter;
    line-height: 1;
}
header {
    background-image: url(images/pozadi.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 30px;
}
ul {
    padding: 0%;
    margin: 2%;
}
.menu li {
    line-height: 350px;
    font-weight:bold;
    font-size: 30px;
    list-style-type: none;
    text-align: center;
    display: list-item;
}
a {
    text-decoration: none;
    color: #7c8587 
}
a:hover,
a:focus {
    color: #ff66c4;
}
.aboutme {
    margin-left: 300px;
}
.aboutme li{
    margin-left: 300px;
}
.kontakt li{
    display: list-item;
    list-style-type: none;
    color: #7c8587;
    margin-left: 220px;
}
body {
    color: #484848;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.fotome {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin: 0 30px 30px 0;
}
footer {
    text-align: center;
}